name: F1World Notifier

on:
  schedule:
    - cron: "*/10 * * * *" # ogni 10 minuti
  workflow_dispatch:

jobs:
  send_notification:
    runs-on: ubuntu-latest

    steps:
      - name: Clona il repository
        uses: actions/checkout@v3

      - name: Installa Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Installa node-fetch
        run: npm install node-fetch@2 && npm install

      - name: Esegui



      - name: Esegui lo script
        run: node checkArticles.js
